# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan

# Crash logs
crash.log
crash.*.log

# Variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file
# Keep this file committed in real projects.
# .terraform.lock.hcl